<label>Id:</label> <br>
<input [(ngModel)]="student.id" type="text"> <br>
<label>Ime:</label> <br>
<input [(ngModel)]="student.ime" type="text"> <br>
<label>Prezime:</label> <br>
<input [(ngModel)]="student.prezime" type="text"><br>
<label>Broj indeksa:</label> <br>  
<input [(ngModel)]="student.brojIndeksa"type="text"><br>
<label>Datum rodjenja:</label><br>
<input [(ngModel)]="student.datumRodjenja" type="text"><br>
<label>Grad:</label> <br>
<input [(ngModel)]="student.grad" type="text"><br>
<label>Ulica:</label> <br>
<input [(ngModel)]="student.ulica" type="text"><br>
<button (click)="dodajStudenta()">Dodaj studenta</button>
<button (click)="izmeniStudenta()">Izmeni studenta</button>

<hr>


